.container-fluid.p-0
  %section.section
    .section-header
      %h1 Gráfico Burndown
    .section-body
      %h2.section-title Sprint #{@burndown[:sprint]}
      .row
        .col-lg-12.col-12
          = line_chart(@burndown[:series], @burndown[:options]) rescue @burndown[:description]