- image_path = Rails.application.credentials[Rails.env.to_sym][:image_tmdb_url]
.container-fluid.pt-5
  %h2 Os mais populares
  .row
    .carousel
      - @movies.each do |movie|
        .col-lg-2.item.pl-0.pr-0.mb-4
          .card.mb-0
            .card-body.p-0
              = image_tag("#{image_path}/w500#{movie['poster_path']}", class: "img-fluid")
