- image_path = Rails.application.credentials[Rails.env.to_sym][:image_tmdb_url]
.container-fluid.pt-5
  %h2 Os mais populares
  .row
    .carousel
      - @movies.each do |movie|
        .col-lg-2.item.pl-0.pr-0.mb-4
          .card.mb-0
            .btn-group.position-absolute{:role => "group"}
              %button#btnGroupDrop1.btn.btn-drop{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %i.fas.fa-ellipsis-h
                .dropdown-menu{"aria-labelledby" => "btnGroupDrop1", :style => "position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 27px, 0px);", "x-placement" => "bottom-start"}
                  .drop-option.d-inline-flex.w-100.p-2
                    %i.fas.fa-list
                    %a.dropdown-item.pt-0.pb-0.pl-2{:href => "#"} Adicionar a uma lista
            .card-body.p-0
              = image_tag("#{image_path}/w500#{movie['poster_path']}", class: "img-fluid")
