.container-fluid.p-0
  %section.section
    .section-header
      %h1 Estimar pontuação
    .section-body
      %h2.section-title Pontuação
      %p.section-lead
        Preencha os campos abaixo para calcular uma estimativa de pontuação da atividade.
      .row
        = render 'form'