%li.nav-item.dropdown
  %a.nav-link.has-dropdown{"data-toggle" => "dropdown", :href => "#"}
    %i{:class => icon}
    %span= title
  %ul.dropdown-menu
    %li
      = link_to 'Filmes', movies_path
    %li
      = link_to 'Burndown', burndowns_path