.container-fluid.p-0
  %section.section
    .section-header
      %h1 Gerenciar aplicativos
    .section-body
      %h2.section-title Apps
      %p.section-lead
        Preencha os campos abaixo para criar um novo app/produto
      .row
        = render 'form'